bucket         = "REPLACE_WITH_UNIQUE_STATE_BUCKET"
key            = "project26/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "REPLACE_WITH_UNIQUE_STATE_BUCKET-lock"
encrypt        = true
